body {
    font-family: 'Fira Sans Extra Condensed', Verdana, Geneva, Tahoma, sans-serif;
    color: #666;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin: 0;
    background-color: #555;
}

.container {
    width: 100%;
    height: 667px;
    border: 0px;
    padding: .5%;
    position: relative;
    overflow: hidden;
    background: #e7e7e7;
}

.button {
    font-family: 'Fira Sans Extra Condensed', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    width: 65%;
    padding: 3%;
    margin-left: 20%;
    margin-bottom: 5%;
    outline: none;
    border-radius: 50px;
    background: #FFFFFF;
    border: 1px solid #c7c7c7;
}

.primary {
    @extend .button;
    background: #15a5d4;
    color: #fff;
    border: none;
}

.secondary {
    @extend .button;
    color: #c7c7c7;
}

// Transition group
.mood-enter {
    opacity: 0;
    transform: translate(500px, 0);
    transform: translate3d(500px, 0, 0);
}

.mood-enter.mood-enter-active {
    opacity: 1;
    transition: opacity 1s ease;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    transition-property: transform, opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.mood-leave {
    opacity: 1;
    transform: translate(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-property: transform, opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.mood-leave.mood-leave-active {
    opacity: 0;
    transform: translate(-500px, 0);
    transform: translate3d(-500px, 0, 0);
}

// Landing Nav
.landing-nav {
    animation-duration: .7s;
    animation-name: fadeIn;
    margin-top: 55%;
}

@media screen and (min-width: 375px) {
    .container {
        border: 1px solid #ededed;
        width: 374px;
        margin: 0 auto;
        padding: 0px;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }