.successful {
    height: 80px;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
    background-image: url('../images/successful.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 80px 80px;
}

span.blue-text {
    color: #15a5d4;
}